---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=label:Rounder%20Records&type=album
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBtRYlelJnEFz7wvnERtx4qF6b9UDkwDr61vQNTnz9SaDJIjC_kWEhKxayTUEb4D3kDljHVQtmnQ3dESiNibz-bmX5AjrnwXlUjZJHIM9OjLjOXA3s
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "albums" : {
            "href" : "https://api.spotify.com/v1/search?query=label%3ARounder+Records&type=album&offset=0&limit=20",
            "items" : [ {
              "album_type" : "compilation",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                },
                "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
                "id" : "0LyfQWJT6nXafLPZqxe9Of",
                "name" : "Various Artists",
                "type" : "artist",
                "uri" : "spotify:artist:0LyfQWJT6nXafLPZqxe9Of"
              } ],
              "available_markets" : [ "AR", "AU", "AT", "BE", "BO", "BR", "BG", "CA", "CL", "CO", "CR", "CY", "CZ", "DK", "DO", "DE", "EC", "EE", "SV", "FI", "FR", "GR", "GT", "HN", "HK", "HU", "IS", "IE", "IT", "LV", "LT", "LU", "MY", "MT", "MX", "NL", "NZ", "NI", "NO", "PA", "PY", "PE", "PH", "PL", "PT", "SG", "SK", "ES", "SE", "CH", "TW", "TR", "UY", "US", "GB", "AD", "LI", "MC", "ID", "JP", "TH", "VN", "RO", "IL", "ZA", "SA", "AE", "BH", "QA", "OM", "KW", "EG", "MA", "DZ", "TN", "LB", "JO", "PS", "IN", "BY", "KZ", "MD", "UA", "AL", "BA", "HR", "ME", "MK", "RS", "SI", "KR", "BD", "PK", "LK", "GH", "KE", "NG", "TZ", "UG", "AG", "AM", "BS", "BB", "BZ", "BT", "BW", "BF", "CV", "CW", "DM", "FJ", "GM", "GE", "GD", "GW", "GY", "HT", "JM", "KI", "LS", "LR", "MW", "MV", "ML", "MH", "FM", "NA", "NR", "NE", "PW", "PG", "WS", "SM", "ST", "SN", "SC", "SL", "SB", "KN", "LC", "VC", "SR", "TL", "TO", "TT", "TV", "VU", "AZ", "BN", "BI", "KH", "CM", "TD", "KM", "GQ", "SZ", "GA", "GN", "KG", "LA", "MO", "MR", "MN", "NP", "RW", "TG", "UZ", "ZW", "BJ", "MG", "MU", "MZ", "AO", "CI", "DJ", "ZM", "CD", "CG", "IQ", "LY", "TJ", "VE", "ET", "XK" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/4QCpyPj8LCnc5C8Lpz7ueE"
              },
              "href" : "https://api.spotify.com/v1/albums/4QCpyPj8LCnc5C8Lpz7ueE",
              "id" : "4QCpyPj8LCnc5C8Lpz7ueE",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b27363f323c22a772bf0208d6682",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e0263f323c22a772bf0208d6682",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d0000485163f323c22a772bf0208d6682",
                "width" : 64
              } ],
              "name" : "The Rounder Records Story",
              "release_date" : "2010-10-19",
              "release_date_precision" : "day",
              "total_tracks" : 87,
              "type" : "album",
              "uri" : "spotify:album:4QCpyPj8LCnc5C8Lpz7ueE"
            } ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 1
          }
        }
  recorded_at: Fri, 22 Sep 2023 14:03:00 GMT
recorded_with: VCR 6.2.0
